<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Typing</title>
	<!-- bootstrap styles -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<!-- bootstrap icons -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	<!-- google fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Inconsolata&family=Source+Code+Pro&display=swap" rel="stylesheet">
	<!-- slider -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css" />
	
	<!-- css stylesheet -->
	<link rel="stylesheet" href="/styles.css">
</head>
<body class="light_theme">
	<div class="container p-5">
		<div class="row">
			<div class="col-8">
				<h3 id="heading" class="d-flex justify-content-start mt-2">
					<i class="bi bi-keyboard me-2" style="font-size: 2.2rem;"></i>
					Typesmith: A minimalistic typing solution
				</h3>
			</div>
			<div class="col-4">
				<!-- user avatar -->
				<div class="dropdown d-flex justify-content-end">
					<a class="btn dropdown-toggle" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown"
						aria-expanded="false">
						<img src="../images/<%= avatar_character %>.png" alt="User Avatar" class="rounded-circle" width="50" height="50">
						<span><%= username %></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
						<li><a class="dropdown-item" href="/plots">View Stats</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><a class="dropdown-item" href="/logout">Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<label for="time-slider">
			<i class="bi bi-alarm" style="font-size: 1.2rem;"></i> 
			Select Duration
		</label>
		<input type="text" id="time-slider" name="time-slider" value="" >

		<div class="row mt-4">
			<div class="col-md-2">
				<!-- dropdown to select language -->
				<select id="selectLanguage" class="p-1">

				</select>
			</div>
			<div class="col-md-2">
				<!-- file upload -->
				<input type="file" id="fileInput">
			</div>
			<div class="col-md-8">
				<!-- dark mode toggle -->
				<div class="form-check form-switch d-flex justify-content-end mb-5" id="mode_toggle">
					<input class="form-check-input" type="checkbox" role="switch" id="darkToggle">
					<label class="form-check-label ms-1" for="darkToggle">Dark Mode</label>
				</div>
			</div>

		</div>
		
		<div class="row">
			<!-- timer during typing -->
			<div class="col-6">
				<div class="mb-3" id="timer"></div>
			</div>
			<!-- wpm, accuracy during typing -->
			<div class="col-6" id="live_stats">
				<div class="row mb-3">
					<div class="col-6 d-flex justify-content-end">
						WPM: <span id="wpm"></span>
					</div>
					<div class="col-6">
						Accuracy: <span id="accuracy"></span>%
					</div>
				</div>
			</div>
		</div>
		<!-- typing text resides here -->
		<div class="fs-3" id="para"></div>
	</div>	

	<!-- Modal -->
	<div class="modal fade" id="timeupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: #323232;">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header text center">
					<h6 class="modal-title" id="exampleModalLabel">Time over!</h6>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="initialize();"></button>
				</div>
				<div class="modal-body text-center">
					<!-- shows stats like wpm, accuracy -->
					<div class="row mb-4 fs-5">
						<div class="col-6">
							WPM: <span id="modal_wpm">0</span>
						</div>
						<div class="col-6">
							Accuracy: <span id="modal_accuracy">0</span>%
						</div>
					</div>
					<!-- the restart icon -->
					<i data-bs-dismiss="modal" class="bi bi-arrow-clockwise" style="font-size: 2rem; color: #323232; cursor: pointer;" onclick="initialize();"></i>
					
				</div>
			</div>
		</div>
	</div>

	<!-- bootstrap js -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
	<!-- jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<!-- slider -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
	<!-- js -->
	<script type="text/javascript">
		var aa = "I am aaa!";
		var uu = <%=userId%>;
		console.log(uu);
	</script>
	<script src="/typingInterface.js"></script>
</body>
</html>