/* .cursor{
	animation-name: blink_cursor;
	animation-duration: 1.3s;
	animation-iteration-count: infinite;

}
@keyframes blink_cursor{
	0% {
		background-color: none;
	}
	100% {
		background-color: gold;
	}
} */

body{
	font-family: monospace, sans-serif;
	font-size: 1rem;
}

.light_theme{
	background-color: #FEFBE7;
	color: #323232;
}

.dark_theme{
	background-color: #393E46;
	color: #F2E7D5;
}

#para{
	white-space: pre-wrap;
}

.cursor{
	background-color: darkslategrey;
	padding: 1px;
	color: white;
}

.dark_theme_cursor{
	background-color: #FCFDF2;
	padding: 1px;
	color: darkslategray;	
}

/* .block_cursor{
	border: 2px solid black;
} */

.warn_char{
	color: red;
	text-decoration: underline;
}

.done_char{
	color: grey;
}